$color-ffffff: #ffffff;
$color-43f5d6: #43f5d6;
$color-333333: #333333;
$color-da1c5c: #da1c5c;
$color-2d848f: #2d848f;
$color-5e6977: #5e6977;
$color-86939e: #86939e;
$color-454545: #454545;
$color-b0246f: #b0246f;
$color-662d91: #662d91;
$color-888888: #888888;
$color-515356: #515356;
$color-374252: #374252;
$color-222222: #222222;
$color-999999: #999999;
$color-e91e62: #e91e62;
$color-9e1f63: #9e1f63;
$color-7b214c: #7b214c;
$color-a2acb4: #a2acb4;
$color-afdefa: #afdefa;
$color-c2c9ce: #c2c9ce;
$color-475465: #475465;
$color-717c8a: #717c8a;
$color-0e5b64: #0e5b64;
$color-929da7: #929da7;
$color-aa9eba: #aa9eba;
$color-e53f38: #e53f38;
$color-e7e7e7: #e7e7e7;
$color-d1dee9: #d1dee9;
$color-98a4ae: #98a4ae;
$color-2da48f: #2da48f;
$color-373e47: #373e47;
$color-acbac5: #acbac5;
$color-65717b: #65717b;
$color-003247: #003247;
$color-00515b: #00515b;
$color-004259: #004259;
$color-28303d: #28303d;
$color-6e41a7: #6e41a7;
$color-220457: #220457;
$color-9cabb9: #9cabb9;
$color-8e2b5a: #8e2b5a;
$color-2b2e38: #2b2e38;
$color-95979c: #95979c;
$color-59277f: #59277f;
$color-a0aebc: #a0aebc;
$color-e1e4e7: #e1e4e7;
$color-f2f3f4: #f2f3f4;
$color-e5e8eb: #e5e8eb;
$color-e1e8ee: #e1e8ee;
$color-672897: #672897;
$color-e7e6dd: #e7e6dd;
$color-4ebd79: #4ebd79;
$color-d3d5d9: #d3d5d9;
$color-e4e8eb: #e4e8eb;
$color-97a2ac: #97a2ac;
$color-f7f7f7: #f7f7f7;
$color-3b1657: #3b1657;
$color-78a735: #78a735;
$color-d8d8d8: #d8d8d8;
$color-f2f2f2: #f2f2f2;
$color-441a63: #441a63;
$color-000000: #000000;
$color-4e276b: #4e276b;
$color-ff0ff0: #ff0ff0;
$color-126f72: #126f72;
$color-eeeeee: #eeeeee;
$color-f6f6f6: #f6f6f6;
$color-ea1c5c: #ea1c5c;
$color-5c2b81: #5c2b81;
$color-eceff2: #eceff2;
$color-cdcdcd: #cdcdcd;
$color-cae3dd: #cae3dd;
$color-e8172d: #e8172d;
$color-f5a623: #f5a623;
$color-8d2456: #8d2456;
$color-43484d: #43484d;
$color-ffd540: #ffd540;
$color-262262: #262262;
$color-6d6e71: #6d6e71;
$color-fbfbfb: #fbfbfb;
$color-26ab9a: #26ab9a;
$color-41a1d7: #41a1d7;
$color-1b6666: #1b6666;
$color-929ea7: #929ea7;
$color-bb82b0: #bb82b0;
$color-6dadad: #6dadad;
$color-d49dc0: #d49dc0;
$color-c276a7: #c276a7;
$color-1c6666: #1c6666;
$color-592780: #592780;
$color-852352: #852352;
$color-371352: #371352;
$color-4a1c6b: #4a1c6b;
$color-d4dbe2: #d4dbe2;
$color-b5b5b5: #b5b5b5;
$color-7b204c: #7b204c;
$color-008aff: #008aff;
$color-229d8d: #229d8d;
$color-ff0000: #ff0000;
$color-dedede: #dedede;
$color-b52465: #b52465;
$color-872981: #872981;
$color-9d1f66: #9d1f66;
$color-e1cdd3: #e1cdd3;
$color-e1ccd3: #e1ccd3;
$color-f2e7eb: #f2e7eb;
$color-f5f7f9: #f5f7f9;
$color-7043a9: #7043a9;
$color-200255: #200255;
$color-ededed: #ededed;
$color-498b81: #498b81;
$color-228072: #228072;
$color-1a6666: #1a6666;
$color-90277c: #90277c;
$color-dddddd: #dddddd;
$color-e3e3e3: #e3e3e3;
$color-eaaa00: #eaaa00;
$color-54565b: #54565b;
$color-4d1d70: #4d1d70;
$color-cccccc: #cccccc;
$color-bdbdbd: #bdbdbd;
$color-afb88f: #afb88f;
$color-fd206b: #fd206b;
$color-a6ccdb: #a6ccdb;
$color-b1236f: #b1236f;
$color-7634a8: #7634a8;
$color-d1d1d1: #d1d1d1;
$color-321349: #321349;
$color-666666: #666666;
$color-da1c5b: #da1c5b;
$color-fafafb: #fafafb;
$color-292a33: #292a33;
$color-aaaaaa: #aaaaaa;
$color-929497: #929497;
$color-f2f3f3: #f2f3f3;
$color-58595b: #58595b;
$color-c8cacb: #c8cacb;
$color-e5e5e4: #e5e5e4;
$color-ababaa: #ababaa;
$color-555555: #555555;
$color-e2eeec: #e2eeec;
$color-6c5583: #6c5583;
$color-54356e: #54356e;
$color-6b3296: #6b3296;
$color-111111: #111111;
$color-eef1f3: #eef1f3;
$color-6c5498: #6c5498;
$color-3b5998: #3b5998;
$color-314b80: #314b80;
$color-1da1f2: #1da1f2;
$color-168bd3: #168bd3;
$color-0077b5: #0077b5;
$color-00699f: #00699f;
$color-c71d20: #c71d20;
$color-aa181b: #aa181b;
$color-007700: #007700;
$color-006d00: #006d00;
$color-fafafa: #fafafa;
$color-151b17: #151b17;
$color-006fb9: #006fb9;
$color-47a3da: #47a3da;
$color-fcfcfd: #fcfcfd;
$color-9ea9b1: #9ea9b1;
$color-dadee1: #dadee1;
$color-e8eaec: #e8eaec;
$color-e0e2e5: #e0e2e5;
$color-d9dde2: #d9dde2;
$color-dfe2e5: #dfe2e5;
$color-e1e6ea: #e1e6ea;
$color-60258c: #60258c;
$color-eef2f5: #eef2f5;
$color-ababab: #ababab;
$color-0c4258: #0c4258;
$color-bdcad5: #bdcad5;
$color-cfd8dc: #cfd8dc;
$color-003549: #003549;
$color-004553: #004553;
$color-c1cbd3: #c1cbd3;
$color-e0e2e4: #e0e2e4;
$color-edeff1: #edeff1;
$color-cfd4d8: #cfd4d8;
$color-0b5761: #0b5761;
$color-00364a: #00364a;
$color-03374b: #03374b;
$color-e2e5e7: #e2e5e7;
$color-752dab: #752dab;
$color-b3b3b3: #b3b3b3;
$color-171717: #171717;
$color-inherit: inherit;
$color-transp: transparent;