@import "colors";

#global-footer .footer-links-set {
    display: none;
}

.top-footerlinksbox {
    float: none;
    width: 100%;
    border-bottom: 1px solid $color-6c5583;
    padding-top: 60px;
}

#global-footer .footer-links {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    float: left;
    min-height: 2px;
}

.footer-links {
    width: 20%;
    float: left;
}

footer p.footer-link-header {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $color-ffffff;
}

#global-footer .footer-links-section-anchor {
    right: 0;
    cursor: default;
    display: none;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 10;
}

.footer-links1.footer-links {
    width: 29.46%;
    padding-right: 4%;
}

.footer-nav ul {
    padding-top: 15px
}

.footer-nav li {
    margin: 0 10px
}

.footer-nav li:last-child {
    margin: 0 0 0 10px
}

.footer-top {
    padding-bottom: 30px
}

.footer-sns span {
    display: block;
    padding-right: 10px
}

footer .logo-small {
    padding: 0
}

.footer-nav ul {
    padding-top: 15px
}

.footer-nav li {
    margin: 0 10px
}

.footer-nav li:last-child {
    margin: 0 0 0 10px
}

.footer-top {
    padding-bottom: 30px
}

.footer-sns {
    margin-top: 35px
}

.footer-sns span {
    display: block;
    padding-right: 10px
}

.footer-nav-wrap {
    margin-top: 77px;
    border-bottom: 1px solid $color-6c5498
}

footer {
    background: $color-3b1657;
}

.footer-links {
    float: left;
    padding-right: 2%
}

.top-footerlinksbox > div.footer-links:nth-child(5) {
    padding-right: 0
}

.footer-links h5 {
    color: $color-ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px
}

.footer-links a {
    color: $color-aa9eba !important;
    font-size: 13px;
    font-weight: 400
}

.footer-links a:hover {
    color: $color-ffffff !important
}

.footer-links li {
    padding-bottom: 12px;
    color: $color-aa9eba;
    font-size: 14px;
    font-weight: 400
}

footer .break-line {
    border-bottom: 1px solid $color-6c5583
}

.footer-links1 {
    width: 29.46%;
    padding-right: 4%
}

.footer-links2 {
    width: 43%;
    padding-right: 4%
}

.highlight-links li {
    position: relative
}

.highlight-links li:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 4px;
    border-color: $color-transp $color-transp $color-transp $color-e53f38;
    position: absolute;
    left: -10px;
    top: 5px
}

.footer-logo {
    padding-top: 14px;
    width: 160px
}

.footer-logo img {
    display: block;
    width: 100%
}

.copyright-box {
    border-top: 1px solid $color-54356e
}

.copyright-box p {
    color: $color-ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px
}

.footer-share h6, .footer-link-header-small {
    float: left;
    color: $color-ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    padding-right: 8px
}

.footer-share ul {
    float: left
}

.footer-share ul li {
    float: left;
    margin-left: 7px;
    height: 26px
}

.footer-share ul li a {
    display: inline-block;
    width: 46px;
    height: 26px;
    border-radius: 2px;
    transition: all 0.1s ease-in
}

@media (max-width: 840px) {
    .footer-share.mb-30px {
        margin-bottom: 0
    }

    .footer-logo {
        margin: 0 auto
    }

    .footer-right {
        margin: 30px auto 0
    }

    .footer-nav-wrap, .credit-text-wrap {
        padding: 0 20px
    }

    .footer-sns.l-inline-list.l-align-right {
        float: right
    }

    .footer-sns.l-inline-list.l-align-right {
        margin: 0 auto;
        text-align: center;
        float: none
    }

    .footer-sns p.pt-7px {
        float: none
    }

    div.footer-sns ul.sns {
        width: 168px;
        height: 29px;
        margin: 25px auto 0 auto;
        float: none
    }
}

@media only screen and (max-width: 667px) {
    .footer-nav {
        display: none
    }

    .footer-top {
        text-align: center
    }

    .footer-nav-wrap, .credit-text-wrap {
        text-align: center
    }

    .footer-sns ul li:first-child a {
        margin: 0
    }

    .footer-nav-wrap {
        border-bottom: 0;
        margin-top: 50px
    }
}

@media only screen and (max-width: 1404px) {
    footer {
        padding-top: 50px
    }

    .top-footerlinksbox {
        padding-bottom: 20px
    }

    .bottom-footerlinksbox {
        padding-bottom: 30px
    }

    .footer-links2 {
        padding-right: 2%;
        width: 43%
    }
}

@media only screen and (max-width: 1023px) {
    footer {
        padding-top: 40px
    }

    .top-footerlinksbox {
        padding-bottom: 10px
    }

    .bottom-footerlinksbox {
        padding-bottom: 30px
    }

    .footer-links2 {
        padding-right: 2%;
        width: 42%
    }

    .footer-links a {
        color: $color-aa9eba !important;
        font-size: 13px;
        font-weight: 400;
        overflow-wrap: break-word
    }

    .footer-links li {
        color: $color-aa9eba;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px
    }

    .footer-logo {
        float: right
    }

    .copyright-box .l-align-left {
        float: left
    }

    .copyright-box .l-align-right {
        float: right
    }
}

#global-footer .footer-links-section-anchor-label {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

@media only screen and (max-width: 840px) {
    .top-footerlinksbox.pb-35px {
        padding-bottom: 0;
        padding-top: 0;
        border-bottom: 0
    }

    .bottom-footerlinksbox.pt-28px {
        padding-top: 0;
    }

    footer .logo-wrap.l-align-left {
        position: relative;
        margin: 0 auto
    }

    .footer-nav-wrap, .credit-text-wrap {
        padding: 0 20px
    }

    .footer-sns p.pt-7px {
        float: none
    }

    div.footer-sns ul.sns {
        width: 168px;
        height: 29px;
        margin: 25px auto 0 auto;
        float: none
    }

    .footer-nav {
        display: none
    }

    .footer-nav-wrap, .credit-text-wrap {
        text-align: center
    }

    .footer-sns ul li:first-child a {
        margin: 0
    }

    .footer-nav-wrap {
        border-bottom: 0;
        margin-top: 50px
    }

    .footer-links {
        width: 100%;
        float: none;
        padding-right: 0
    }

    .footer-share {
        text-align: center
    }

    .footer-share h6, .footer-link-header-small {
        color: $color-ffffff;
        float: none;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        padding-right: 0;
        padding-bottom: 22px
    }

    .footer-share ul {
        display: inline-block;
        float: none
    }

    .copyright-box {
        text-align: center
    }

    .copyright-box .l-align-left {
        float: none
    }

    footer {
        padding-top: 25px
    }

    #global-footer .footer-links {
        width: 100%
    }

    #global-footer .footer-links-section {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        float: none;
        min-height: 2px;
        pointer-events: none
    }

    .copyright-box {
        border-top: 0;
    }

    .footer-logo img {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .footer-upper {
        margin-bottom: 0
    }

    #global-footer .footer-links-section {
        border-bottom: 1px solid $color-54356e;
        overflow: hidden;
        pointer-events: auto
    }

    #global-footer .footer-link-header {
        padding: 10px 0;
        margin: 0;
        background-color: $color-3b1657;
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2
    }

    #global-footer .footer-link-header:after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease
    }

    #global-footer .footer-links-section-list {
        margin: 0;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 16px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        visibility: hidden;
        z-index: -1;
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px)
    }

    #global-footer .footer-links-section-anchor {
        display: block
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-link-header:after, #global-footer .footer-links-set:checked + .footer-links-section .footer-link-header:after {
        -webkit-transform: rotate(45deg) scale(1.08);
        -ms-transform: rotate(45deg) scale(1.08);
        transform: rotate(45deg) scale(1.08)
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-links-section-list, #global-footer .footer-links-set:checked + .footer-links-section .footer-links-section-list {
        position: static;
        visibility: visible;
        z-index: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-links-section-anchor-open, #global-footer .footer-links-set:checked + .footer-links-section .footer-links-section-anchor-open {
        display: none
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-links-section-anchor-close, #global-footer .footer-links-set:checked + .footer-links-section .footer-links-section-anchor-close {
        display: block
    }
}

footer h5 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px
}

footer p {
    font-size: 14px
}

footer, footer a, footer a:visited, footer a:active {
    color: $color-ffffff;
    outline: 0
}

footer a:hover {
    color: $color-2da48f
}

.footer-label {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

.footer-sns.l-inline-list li {
    padding: 0 3px
}

.footer-nav ul {
    padding-top: 15px
}

.footer-nav li {
    margin: 0 10px
}

.footer-nav li:last-child {
    margin: 0 0 0 10px
}

.footer-sns span {
    display: block;
    padding-right: 10px
}

.footer-upper {
    border-bottom: 1px solid $color-54356e;
    padding-bottom: 30px;
    margin-bottom: 50px
}

.footer-nav ul {
    padding-top: 15px
}

.footer-nav li {
    margin: 0 10px
}

.footer-nav li:last-child {
    margin: 0 0 0 10px
}

.footer-sns {
    margin-top: 35px
}

.footer-sns span {
    display: block;
    padding-right: 10px
}

.footer-nav-wrap {
    margin-top: 77px;
    border-bottom: 1px solid $color-6c5498
}

footer {
    background: $color-3b1657
}

.footer-links {
    width: 20%;
    float: left
}

.footer-links1.footer-links {
    width: 29.46%;
    padding-right: 4%;
}

.top-footerlinksbox {
    float: none;
    width: 100%;
    border-bottom: 1px solid $color-6c5583;
    padding-top: 60px;
}

.top-footerlinksbox > div.footer-links:nth-child(5) {
    padding-right: 0
}

.footer-links a {
    color: $color-aa9eba !important;
    font-size: 13px;
    font-weight: 400
}

.footer-links a:hover {
    color: $color-ffffff !important
}

.footer-links li {
    padding-bottom: 12px;
    color: $color-aa9eba;
    font-size: 14px;
    font-weight: 400
}

.footer-links2 {
    width: 43%
}

.copyright-box {
    border-top: 1px solid $color-54356e
}

.copyright-box p {
    color: $color-ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px
}

.footer-share h6, .footer-link-header-small {
    float: left;
    color: $color-ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    padding-right: 8px
}

.footer-share ul {
    float: left
}

.footer-share ul li {
    float: left;
    margin-left: 7px;
    height: 26px
}

.footer-share ul li a {
    display: inline-block;
    width: 46px;
    height: 26px;
    border-radius: 2px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    transition: all 0.1s ease-in
}

.facebook-link {
    background: $color-3b5998 url('../images/icon/facebooki.svg') no-repeat center center;
    background-size: 8px 16px
}

.facebook-link:hover {
    background: $color-314b80 url('../images/icon/facebooki.svg') no-repeat center center;
    background-size: 8px 16px
}

.no-svg .facebook-link {
    background: $color-3b5998 url('../images/icon/facebook.png') no-repeat center center
}

.no-svg .facebook-link:hover {
    background: $color-314b80 url('../images/icon/facebook.png') no-repeat center center
}

.twitter-link {
    background: $color-1da1f2 url('../images/icon/twitteri.svg') no-repeat center center;
    background-size: 20px 16px
}

.twitter-link:hover {
    background: $color-168bd3 url('../images/icon/twitteri.svg') no-repeat center center;
    background-size: 20px 16px
}

.no-svg .twitter-link {
    background: $color-1da1f2 url('../images/icon/twitter.png') no-repeat center center
}

.no-svg .twitter-link:hover {
    background: $color-168bd3 url('../images/icon/twitter.png') no-repeat center center
}

.linkin-link {
    background: $color-0077b5 url('../images/icon/linkini.svg') no-repeat center center;
    background-size: 16px 16px
}

.linkin-link:hover {
    background: $color-00699f url('../images/icon/linkini.svg') no-repeat center center;
    background-size: 16px 16px
}

.no-svg .linkin-link {
    background: $color-0077b5 url('../images/icon/linkin.png') no-repeat center center
}

.no-svg .linkin-link:hover {
    background: $color-00699f url('../images/linkin.png') no-repeat center center
}

.ytube-link {
    background: $color-c71d20 url('../images/icon/ytubei.svg') no-repeat center center;
    background-size: 22px 15px
}

.ytube-link:hover {
    background: $color-aa181b url('../images/icon/ytubei.svg') no-repeat center center;
    background-size: 22px 15px
}

.no-svg .ytube-link {
    background: $color-c71d20 url('../images/icon/ytube.png') no-repeat center center
}

.no-svg .ytube-link:hover {
    background: $color-aa181b url('../images/icon/ytube.png') no-repeat center center
}

.glassdoor-link {
    background: $color-007700 url('../images/icon/glassdoor.png') no-repeat center center;
    background-size: 10px 17px
}

.glassdoor-link:hover {
    background: $color-006d00 url('../images/icon/glassdoor.png') no-repeat center center;
    background-size: 10px 17px
}

.no-svg .glassdoor-link {
    background: $color-007700 url('../images/icon/glassdoor.svg') no-repeat center center;
    background-size: 10px 17px
}

.no-svg .glassdoor-link:hover {
    background: $color-006d00 url('../images/icon/glassdoor.svg') no-repeat center center;
    background-size: 10px 17px
}

footer p, footer li {
    color: $color-aa9eba;
    font-size: 13px;
    font-weight: 400
}

footer, footer a, footer a:visited, footer a:active {
    color: $color-ffffff
}

footer a:hover {
    color: $color-2da48f
}

footer a.border-white:hover {
    border: 1px solid $color-2da48f
}

footer p.footer-link-header {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $color-ffffff
}

@media (max-width: 1024px) {
    .footer-share.l-align-right {
        float: none;
        display: block
    }

    footer .logo-wrap {
        float: none
    }
}

@media (max-width: 840px) {
    .top-footerlinksbox.pb-35px {
        padding-bottom: 0;
        padding-top: 0;
        border-bottom: 0
    }

    .bottom-footerlinksbox.pt-28px {
        padding-top: 0;
    }

    footer .logo-wrap.l-align-left {
        position: relative;
        margin: 0 auto
    }

    .footer-nav-wrap, .credit-text-wrap {
        padding: 0 20px
    }

    .footer-sns p.pt-7px {
        float: none
    }

    .footer-logo img {
        display: block;
        text-align: center;
        margin: 20px auto 0;
    }

    div.footer-sns ul.sns {
        width: 168px;
        height: 29px;
        margin: 25px auto 0 auto;
        float: none
    }
}

@media only screen and (max-width: 667px) {
    .footer-nav {
        display: none
    }

    .footer-nav-wrap, .credit-text-wrap {
        text-align: center
    }

    .footer-sns ul li:first-child a {
        margin: 0
    }

    .footer-nav-wrap {
        border-bottom: 0;
        margin-top: 50px
    }
}

@media only screen and (max-width: 1404px) {
    .top-footerlinksbox {
        padding-bottom: 20px
    }

    .footer-links2 {
        padding-right: 2%;
        width: 43%
    }
}

@media only screen and (max-width: 1023px) {
    .top-footerlinksbox {
        padding-bottom: 10px
    }

    .footer-links2 {
        padding-right: 2%;
        width: 42%
    }

    .footer-links a {
        color: $color-aa9eba !important;
        font-size: 13px;
        font-weight: 400;
        overflow-wrap: break-word
    }

    .footer-links li {
        color: $color-aa9eba;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px
    }

    .copyright-box .l-align-left {
        float: left
    }
}

@media only screen and (max-width: 840px) {
    .top-footerlinksbox {
        float: none;
        width: 100%
    }

    .footer-links {
        width: 100%;
        float: none;
        padding-right: 0
    }

    .footer-share {
        text-align: center
    }

    .footer-share h6, .footer-link-header-small {
        color: $color-ffffff;
        float: none;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        padding-right: 0;
        padding-bottom: 22px
    }

    .footer-share ul {
        display: inline-block;
        float: none
    }

    .copyright-box {
        text-align: center
    }

    .copyright-box .l-align-left {
        float: none
    }

    footer {
        padding-top: 25px
    }
}

#global-footer {
    position: relative
}

@media only screen and (max-width: 1044px) {
    #global-footer {
        min-width: 320px
    }
}

#global-footer .top-footerlinksbox:before, #global-footer .top-footerlinksbox:after {
    content: ' ';
    display: table
}

#global-footer .top-footerlinksbox:after {
    clear: both
}

#global-footer .top-footerlinksbox:last-child {
    padding-bottom: 0
}

#global-footer .footer-links {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    float: left;
    min-height: 2px
}

@media only screen and (max-width: 840px) {
    #global-footer .footer-links {
        width: 100%
    }

    #global-footer .footer-links-section {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        float: none;
        min-height: 2px;
        pointer-events: none
    }

    .copyright-box {
        border-top: 0;
    }

    .footer-logo img {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 840px) {
    .footer-upper {
        margin-bottom: 0
    }

    #global-footer .footer-links-section {
        border-bottom: 1px solid $color-54356e;
        overflow: hidden;
        pointer-events: auto
    }
}

@media only screen and (max-width: 840px) {
    #global-footer .footer-link-header {
        padding: 10px 0;
        margin: 0;
        background-color: $color-3b1657;
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2
    }

    #global-footer .footer-link-header:after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease
    }
}

#global-footer .footer-links-section-list {
    margin-right: 20px;
    list-style: none;
    padding: 0
}

@media only screen and (max-width: 840px) {
    #global-footer .footer-links-section-list {
        margin: 0;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 16px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        visibility: hidden;
        z-index: -1;
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px)
    }
}

#global-footer .footer-links-section-anchor {
    right: 0;
    cursor: default;
    display: none;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 10
}

#global-footer .footer-links-section-anchor:focus {
    outline-offset: -6px;
    width: 25px;
    height: 38px
}

@media only screen and (max-width: 840px) {
    #global-footer .footer-links-section-anchor {
        display: block
    }
}

#global-footer .footer-links-section-anchor-close {
    display: none
}

#global-footer .footer-links-section-anchor-label {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#global-footer .footer-links-set {
    display: none
}

@media only screen and (max-width: 840px) {
    #global-footer .footer-links-set:target + .footer-links-section .footer-link-header:after, #global-footer .footer-links-set:checked + .footer-links-section .footer-link-header:after {
        -webkit-transform: rotate(45deg) scale(1.08);
        -ms-transform: rotate(45deg) scale(1.08);
        transform: rotate(45deg) scale(1.08)
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-links-section-list, #global-footer .footer-links-set:checked + .footer-links-section .footer-links-section-list {
        position: static;
        visibility: visible;
        z-index: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-links-section-anchor-open, #global-footer .footer-links-set:checked + .footer-links-section .footer-links-section-anchor-open {
        display: none
    }

    #global-footer .footer-links-set:target + .footer-links-section .footer-links-section-anchor-close, #global-footer .footer-links-set:checked + .footer-links-section .footer-links-section-anchor-close {
        display: block
    }
}