@import "colors";
@import "fonts";

#logo-wrap {
    float: left
}

#main-nav {
    float: right
}

.nav-top-level .first, .nav-top-level .first.nth-hide-menu {
    display: none
}

body #primary-nav li.nav-dropdown:hover + a + ul.first.nth-hide-menu {
    display: block
}

.nthrive-main-nav {
    max-width: 100%
}

span.uparrow {
    width: 0;
    height: 0;
    border-left: 9px solid $color-transp;
    border-right: 9px solid $color-transp;
    border-bottom: 9px solid $color-f2f2f2;
    margin: -9px 0 0 15px !important;
    display: block;
    position: relative;
    z-index: 9999999
}

.nav-top-level > a {
    display: block;
    text-decoration: $text-decoration-none;
    font-weight: $font-500;
    padding: 0 20px;
    color: $color-ffffff;
    line-height: 50px;
    font-size: $font-13px
}

.nav-top-level {
    margin: 0;
    font-size: $font-13px;
    font-style: $font-normal;
    text-decoration: $text-decoration-none;
    line-height: 2.8 !important;
    position: initial !important;
    padding: 0 20px
}

a.menu-hover {
    background-image: url(../../images/icon/down_arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 12px !important
}

#primary-nav > ul > li {
    position: relative;
    text-align: $text-left
}

#primary-nav > ul > li {
    float: left;
    width: auto
}

.container {
    width: 90%;
    margin: 10vh auto
}

a {
    color: inherit
}

#primary-nav a:focus {
    outline: none
}

#primary-nav li {
    text-align: $text-left
}

a.menu-hover + ul {
    position: absolute
}

a.menu-hover + ul:not(.nth-show-menu) {
    display: none
}

#primary-nav .nth-show-menu, #primary-nav .first, #primary-nav .second {
    background-color: $color-f2f2f2
}

#primary-nav > ul > li {
    float: left;
    width: auto
}

.has-subnav > a:before {
    font-family: 'left-arrow' !important;
    font-style: $font-normal;
    font-weight: $font-normal;
    font-variant: normal;
    text-transform: $text-transform-none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e900";
    font-size: $font-10px;
    speak: none;
    padding-right: 10px !important
}

ul.first.nth-show-menu {
    width: 250px
}

ul.second.nth-show-menu {
    top: 0;
    right: 249px;
    width: 250px;
    position: absolute;
    background-color: $color-f2f2f2;
    z-index: 9
}

nav .first li {
    display: block;
    float: none
}

body #primary-nav #main-nav > li > a {
    padding: 0 20px;
    margin: 0
}

body #primary-nav #main-nav > li > a:hover {
    color: $color-441a63
}

#primary-nav li {
    position: relative
}

.plusMark {
    margin-left: .5em;
    font-size: $font-1em;
    font-weight: $font-700
}

#primary-nav > ul {
    height: 100%;
    line-height: 2.5em
}

#primary-nav > ul > li {
    position: relative;
    text-align: $text-left
}

#primary-nav > ul > li > ul {
    background-color: $color-f2f2f2
}

#primary-nav > ul > li > ul > li > ul > li > a:hover {
    color: $color-ffffff !important;
    background-color: $color-b0246f !important
}

#primary-nav > ul > li > ul > li > ul > li > a:focus, #primary-nav > ul > li > ul > li > a:focus {
    color: $color-ffffff !important;
    background-color: $color-441a63;
    border: 0
}

.noscript-content #primary-nav > ul > li > ul > li > ul > li > a:focus, .noscript-content #primary-nav > ul > li > ul > li > a:focus, .noscript-content #primary-nav a:focus {
    outline: 2px solid $color-2da48f !important;
    outline: 2px solid rgb(45,164,143) !important;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    border-radius: 3px 3px 3px 3px !important
}

#primary-nav > ul > li > ul > li > a {
    background-color: $color-f2f2f2;
    font-weight: $font-400
}

body #primary-nav #main-nav > li > a:focus {
    border: 0
}

.noscript-content body #primary-nav #main-nav > li > a:focus, .noscript-content #primary-nav > ul > li > ul > li > a:focus, .noscript-content #primary-nav > ul > li > ul > li > ul > li > a:focus {
    outline: 2px solid $color-2da48f !important;
    outline: 2px solid rgb(45,164,143) !important;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    border-radius: 3px 3px 3px 3px !important
}

#primary-nav > ul > li > ul > li > a:hover, #primary-nav > ul > li > ul > li > a:focus {
    background-color: $color-441a63 !important;
    color: $color-ffffff !important
}

#primary-nav > ul > li > ul > li > ul > li > a {
    background-color: $color-f2f2f2;
    font-weight: $font-400
}

#primary-nav > ul > li > ul > li > ul > li > a:hover, #primary-nav > ul > li > ul > li > ul > li > a:focus {
    background-color: $color-441a63
}

.first a:hover, .first a:focus {
    color: $color-ffffff;
    background-color: $color-441a63
}

.first a.menu-hover {
    font-weight: $font-400 !important;
    padding: 5px 15px !important;
    display: block;
    line-height: 2.5em !important
}

.second a {
    padding: 5px 15px !important;
    display: block;
    line-height: 2.5em !important
}

#primary-nav .nth-hide-menu {
    display: none
}

#primary-nav .nth-show-menu {
    display: block
}

html.no-js li:hover > a + ul, html.no-js li:focus > a + ul {
    display: block
}

#main-nav ul {
    width: 250px;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1)
}

body #primary-nav #main-nav > li > a.menu-hover {
    padding-right: 12px !important;
    margin-right: 20px
}

body #primary-nav #main-nav > li.rm0 > a {
    padding: 0 0 0 20px;
    margin: 0
}

#main-nav ul {
    border: 1px solid $color-ededed
}

.skip-nav a {
    color: $color-333333 !important;
    left: -999999px;
    overflow: hidden;
    position: absolute;
    font-size: $font-15px;
    padding: 15px;
    background: $color-ffffff;
    display: inline-block;
    max-width: 200px;
    border: 1px solid $color-ededed
}

@media only screen and (max-width: 840px) {
    .nav-top-level > a {
        padding: 0 30px
    }

    .nav-top-level > a.selected {
        border-left: 5px solid $color-752dab
    }

    .has-subnav a {
        padding: 0 30px 0 50px
    }

    #primary-nav li {
        border-bottom: 1px solid $color-321349 !important
    }

    #primary-nav .nth-show-menu, #primary-nav .first, #primary-nav .second {
        background-color: $color-transp
    }

    #primary-nav a {
        color: $color-ffffff
    }

    #main-nav ul {
        border: 0
    }

    #primary-nav {
        display: block
    }

    #primary-nav li {
        text-align: $text-left;
        width: 100%
    }

    a.menu-hover + ul {
        position: relative
    }

    a.menu-hover + ul:not(.nth-hide-menu) {
        display: block
    }

    #primary-nav > ul > li {
        float: none;
        display: block;
        width: 100%
    }

    #main-nav ul {
        width: auto
    }

    ul.second.nth-show-menu {
        position: relative;
        width: auto;
        right: auto
    }

    #primary-nav > ul li {
        border-bottom: 1px solid $color-321349;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    #primary-nav ul {
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    #primary-nav ul.first, #primary-nav ul.second {
        border-top: 1px solid $color-321349;
        margin-left: 0
    }

    #primary-nav ul.first a {
        margin-left: 30px
    }

    #primary-nav ul.second a {
        margin-left: 46px
    }

    #primary-nav > ul > li > ul {
        width: 100%;
        position: relative
    }

    #primary-nav > ul > li > ul > li > a {
        color: $color-ffffff !important;
        padding-left: 65px
    }

    body #primary-nav #main-nav > li > a:focus {
        background: $color-transp
    }

    body #primary-nav > ul > li > ul > li > ul a {
        padding-left: 90px !important;
        color: $color-ffffff !important
    }

    body #main-nav li.nav-top-level ul ul a {
        padding: 15px 30px
    }

    #primary-nav > ul > li > ul > li > ul > li > a {
        padding: 15px 60px
    }

    body #main-nav li.nav-top-level:hover ul ul {
        color: $color-ffffff;
        left: 0 !important
    }

    body #primary-nav #main-nav > li:hover > a {
        color: $color-2d848f
    }

    body #primary-nav #main-nav li.nav-top-level > ul > li > ul > li > a:hover, body #primary-nav #main-nav li.nav-top-level > ul > li > ul > li > a:focus {
        color: $color-2d848f !important
    }

    body #primary-nav > ul > li > ul {
        left: 0 !important;
        padding: 0
    }

    #primary-nav > ul > li > ul:not(.nth-show-menu) {
        display: none
    }

    #primary-nav > ul > li > ul > li > ul {
        width: 100%;
        position: relative
    }

    #primary-nav > ul > li > ul > li > ul:not(.nth-show-menu) {
        display: none
    }

    .nthrive-main-nav {
        max-height: 550px
    }

    header {
        height: 50px;
        background: $color-441a63;
        position: fixed
    }

    html.no-js #primary-nav:hover li:hover > a + ul, html.no-js #primary-nav:hover li:focus > a + ul, html.no-js #primary-nav:focus li:hover > a + ul, html.no-js #primary-nav:focus li:focus > a + ul {
        display: block
    }

    #primary-nav a:hover {
        color: $color-2da48f
    }

    #primary-nav > ul > li > ul > li > ul {
        right: 0
    }

    body #primary-nav #main-nav > li > a.menu-hover {
        padding-right: 0
    }

    .nav-top-level {
        padding: 0
    }

    .uparrow {
        display: none !important
    }

    .first a:hover, .first a:focus {
        background-color: $color-transp !important
    }

    .first a.menu-hover {
        padding: 5px 0 !important
    }

    .nav-top-level, .nav-top-level > a {
        line-height: 3
    }
}

#nav-wrap, #nth-segmentbar {
    font-weight: $font-normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

#nav-wrap, #nav-wrap:before, #nav-wrap:after, #nav-wrap *, #nav-wrap *:before, #nav-wrap *:after, #nth-segmentbar, #nth-segmentbar:before, #nth-segmentbar:after, #nth-segmentbar *, #nth-segmentbar *:before, #nth-segmentbar *:after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: $ls-normal
}

#nav-wrap img, #nth-segmentbar img {
    border: 0;
    vertical-align: middle
}

#nav-wrap ul, #nth-segmentbar ul {
    list-style: none
}

#nav-wrap, #nav-wrap input, #nav-wrap textarea, #nav-wrap select, #nav-wrap button, #nth-segmentbar, #nth-segmentbar input, #nth-segmentbar textarea, #nth-segmentbar select, #nth-segmentbar button {
    font-synthesis: none;
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: $text-left
}

#nav-wrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 50px;
    font-size: $font-17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#nav-wrap.blocktransitions, #nav-wrap.blocktransitions:before, #nav-wrap.blocktransitions:after, #nav-wrap.blocktransitions *, #nav-wrap.blocktransitions *:before, #nav-wrap.blocktransitions *:after {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important
}

.header-Logo {
    margin: 5px 15px !important
}

@media only screen and (max-width: 1044px) {
    #nav-wrap {
        min-width: 320px
    }
}

@media only screen and (max-width: 840px) {
    html #nav-wrap {
        position: fixed;
        background: $color-441a63
    }

    #nav-wrap {
        max-height: none;
        -webkit-transition: background 0.35s linear, height 0.35s ease-in;
        transition: background 0.35s linear, height 0.35s ease-in
    }

    #nth-menu-switch:checked ~ #nav-wrap, #nth-menu-switch:target ~ #nav-wrap {
        height: 100%;
        background: $color-441a63;
        -webkit-transition: background 0.35s linear, height 0.35s ease-in 200ms;
        transition: background 0.35s linear, height 0.35s ease-in 200ms
    }

    #primary-nav .nth-hide-menu {
        display: block
    }

    body header .first a.menu-hover {
        font-size: $font-13px !important
    }
}

#nth-menu-switch {
    display: none
}

#nav-wrap .nth-content {
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    z-index: 2
}

@media only screen and (max-width: 840px) {
    #nav-wrap .nth-content {
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%
    }
}

#nav-wrap .nth-list {
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px;
    text-align: $text-justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#nav-wrap .nth-list:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: $font-0;
    line-height: 0
}

@media only screen and (max-width: 840px) {
    #primary-nav #logo-wrap li {
        border-bottom: 0 !important
    }

    #main-nav {
        border-top: 1px solid $color-321349
    }

    #primary-nav .second li:last-child, #primary-nav .first li:last-child, #secondary-nav li:last-child {
        border-bottom: 0 !important
    }

    #secondary-nav a {
        padding: 0 20px
    }

    #nav-wrap .nth-list {
        position: absolute;
        z-index: 2;
        top: 44px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        -webkit-transition: visibility 0s linear 1s;
        transition: visibility 0s linear 1s
    }

    #nav-wrap .nth-list:nth-child(2) {
        margin-top: 5px
    }

    #nav-wrap .nth-list:nth-child(9) {
        margin-bottom: 44px
    }

    #nth-menu-switch:checked ~ #nav-wrap .nth-list, #nth-menu-switch:target ~ #nav-wrap .nth-list {
        visibility: visible;
        -webkit-transition-delay: 0s;
        transition-delay: 0s
    }

    #nav-wrap .nth-list:after {
        display: none
    }
}

#nav-wrap .nth-item {
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top
}

@media only screen and (max-width: 840px) {
    #nav-wrap .nth-item {
        width: 100%;
        height: 44px
    }
}

@media only screen and (max-width: 840px) {
    .nav-dropdown .first, .nav-dropdown .first.nth-hide-menu, a + ul:not(.nth-show-menu) {
        display: block
    }

    .uparrow {
        display: none
    }

    #nav-wrap .nav-top-level, #nav-wrap #secondary-nav > li {
        height: auto;
        border-bottom: 1px solid $color-321349;
        opacity: 0;
        pointer-events: none;
        -webkit-transform: scale(1.1) translateY(-24px);
        -ms-transform: scale(1.1) translateY(-24px);
        transform: scale(1.1) translateY(-24px);
        -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
        transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
        transition: opacity 0.35s ease-out, transform 0.35s ease-out;
        transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out
    }

    #nav-wrap .nav-top-level:nth-child(1) {
        -webkit-transition-delay: 450ms, 450ms;
        transition-delay: 450ms, 450ms
    }

    #nav-wrap .nav-top-level:nth-child(2) {
        -webkit-transition-delay: 400ms, 400ms;
        transition-delay: 400ms, 400ms
    }

    #nav-wrap .nav-top-level:nth-child(3) {
        -webkit-transition-delay: 350ms, 350ms;
        transition-delay: 350ms, 350ms
    }

    #nav-wrap .nav-top-level:nth-child(4) {
        -webkit-transition-delay: 300ms, 300ms;
        transition-delay: 300ms, 300ms
    }

    #nav-wrap .nav-top-level:nth-child(5) {
        -webkit-transition-delay: 250ms, 250ms;
        transition-delay: 250ms, 250ms
    }

    #nav-wrap .nav-top-level:nth-child(6) {
        -webkit-transition-delay: 200ms, 200ms;
        transition-delay: 200ms, 200ms
    }

    #nav-wrap .nav-top-level:nth-child(7) {
        -webkit-transition-delay: 150ms, 150ms;
        transition-delay: 150ms, 150ms
    }

    #nav-wrap .nav-top-level:nth-child(8) {
        -webkit-transition-delay: 100ms, 100ms;
        transition-delay: 100ms, 100ms
    }

    #nav-wrap .nav-top-level:nth-child(9) {
        -webkit-transition-delay: 50ms, 50ms;
        transition-delay: 50ms, 50ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level, #nth-menu-switch:target ~ #nav-wrap .nav-top-level {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(1), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(1) {
        -webkit-transition-delay: 250ms, 250ms;
        transition-delay: 250ms, 250ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(2), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(2) {
        -webkit-transition-delay: 300ms, 300ms;
        transition-delay: 300ms, 300ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(3), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(3) {
        -webkit-transition-delay: 350ms, 350ms;
        transition-delay: 350ms, 350ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(4), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(4) {
        -webkit-transition-delay: 400ms, 400ms;
        transition-delay: 400ms, 400ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(5), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(5) {
        -webkit-transition-delay: 450ms, 450ms;
        transition-delay: 450ms, 450ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(6), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(6) {
        -webkit-transition-delay: 500ms, 500ms;
        transition-delay: 500ms, 500ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(7), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(7) {
        -webkit-transition-delay: 550ms, 550ms;
        transition-delay: 550ms, 550ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(8), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(8) {
        -webkit-transition-delay: 600ms, 600ms;
        transition-delay: 600ms, 600ms
    }

    #nth-menu-switch:checked ~ #nav-wrap .nav-top-level:nth-child(9), #nth-menu-switch:target ~ #nav-wrap .nav-top-level:nth-child(9) {
        -webkit-transition-delay: 650ms, 650ms;
        transition-delay: 650ms, 650ms
    }

    #secondary-nav a {
        color: $color-ffffff
    }

    #nav-wrap #secondary-nav li:nth-child(1) {
        -webkit-transition-delay: 450ms, 450ms;
        transition-delay: 450ms, 450ms
    }

    #nav-wrap #secondary-nav li:nth-child(2) {
        -webkit-transition-delay: 400ms, 400ms;
        transition-delay: 400ms, 400ms
    }

    #nav-wrap #secondary-nav li:nth-child(3) {
        -webkit-transition-delay: 350ms, 350ms;
        transition-delay: 350ms, 350ms
    }

    #nav-wrap #secondary-nav li:nth-child(4) {
        -webkit-transition-delay: 300ms, 300ms;
        transition-delay: 300ms, 300ms
    }

    #nav-wrap #secondary-nav li:nth-child(5) {
        -webkit-transition-delay: 250ms, 250ms;
        transition-delay: 250ms, 250ms
    }

    #nav-wrap #secondary-nav li:nth-child(6) {
        -webkit-transition-delay: 200ms, 200ms;
        transition-delay: 200ms, 200ms
    }

    #nav-wrap #secondary-nav li:nth-child(7) {
        -webkit-transition-delay: 150ms, 150ms;
        transition-delay: 150ms, 150ms
    }

    #nav-wrap #secondary-nav li:nth-child(8) {
        -webkit-transition-delay: 100ms, 100ms;
        transition-delay: 100ms, 100ms
    }

    #nav-wrap #secondary-nav li:nth-child(9) {
        -webkit-transition-delay: 50ms, 50ms;
        transition-delay: 50ms, 50ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li, #nth-menu-switch:target ~ #nav-wrap #secondary-nav li {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(1), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(1) {
        -webkit-transition-delay: 250ms, 250ms;
        transition-delay: 250ms, 250ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(2), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(2) {
        -webkit-transition-delay: 300ms, 300ms;
        transition-delay: 300ms, 300ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(3), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(3) {
        -webkit-transition-delay: 350ms, 350ms;
        transition-delay: 350ms, 350ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(4), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(4) {
        -webkit-transition-delay: 400ms, 400ms;
        transition-delay: 400ms, 400ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(5), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(5) {
        -webkit-transition-delay: 450ms, 450ms;
        transition-delay: 450ms, 450ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(6), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(6) {
        -webkit-transition-delay: 500ms, 500ms;
        transition-delay: 500ms, 500ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(7), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(7) {
        -webkit-transition-delay: 550ms, 550ms;
        transition-delay: 550ms, 550ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(8), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(8) {
        -webkit-transition-delay: 600ms, 600ms;
        transition-delay: 600ms, 600ms
    }

    #nth-menu-switch:checked ~ #nav-wrap #secondary-nav li:nth-child(9), #nth-menu-switch:target ~ #nav-wrap #secondary-nav li:nth-child(9) {
        -webkit-transition-delay: 650ms, 650ms;
        transition-delay: 650ms, 650ms
    }
}

#nav-wrap .nth-link {
    font-size: $font-14px;
    line-height: 3.14286;
    font-weight: $font-400;
    letter-spacing: $ls-0_01em;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: 1;
    background: no-repeat;
    text-decoration: $text-decoration-none;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-tap-highlight-color: $color-transp;
    outline-offset: -7px
}

@media only screen and (max-width: 840px) {
    #nav-wrap .nth-link {
        font-size: $font-17px;
        line-height: 2.52947;
        letter-spacing: $ls-0_021em
    }

    #nav-wrap li {
        display: block
    }

    #page-nav {
        background: $color-transp
    }
}

#nav-wrap .nth-link:hover {
    opacity: .65
}

@media only screen and (max-width: 840px) {
    #nav-wrap .nav-top-level .nth-link {
        background-position: left center;
        display: block;
        outline-offset: 0;
        padding: 0;
        width: auto;
        max-width: none;
        color: $color-ffffff
    }
}

#nav-wrap .nth-link.current {
    opacity: .65
}

#nav-wrap .nth-menuicon {
    right: 0;
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 48px;
    border-bottom: none
}

@media only screen and (max-width: 840px) {
    #nav-wrap .nth-menuicon {
        display: block
    }
}

#nav-wrap .nth-menuicon-label {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-tap-highlight-color: $color-transp
}

#nav-wrap .nth-menuicon-label:hover, #nav-wrap .nth-menuicon-label:focus, #nav-wrap .nth-menuicon-label:active {
    opacity: .65
}

#nav-wrap.touch .nth-menuicon-label {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99)
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuicon-label, #nth-menu-switch:target ~ #nav-wrap .nth-menuicon-label {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

#nav-wrap .nth-menuicon-bread {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

#nav-wrap .nth-menuicon-top {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 4
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuicon-top, #nth-menu-switch:target ~ #nav-wrap .nth-menuicon-top {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#nav-wrap .nth-menuicon-bottom {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuicon-bottom, #nth-menu-switch:target ~ #nav-wrap .nth-menuicon-bottom {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#nav-wrap .nth-menuicon-middle-line {
    top: 26px;
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px)
}

#nav-wrap .nth-menuicon-middle {
    opacity: 1;
    transition: .2s all ease-in-out
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuicon-middle, #nth-menu-switch:target ~ #nav-wrap .nth-menuicon-middle {
    opacity: 0;
    transition: .2s all ease-in-out
}

#nav-wrap .nth-menuicon-bread-crust {
    display: block;
    width: 20px;
    height: 1px;
    background: $color-ffffff;
    position: absolute;
    left: 15px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s
}

#nav-wrap .nth-menuicon-top-line {
    top: 19px;
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px)
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuicon-top-line, #nth-menu-switch:target ~ #nav-wrap .nth-menuicon-top-line {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition-delay: 0;
    transition-delay: 0
}

#nav-wrap .nth-menuicon-bottom-line {
    bottom: 19px;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px)
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuicon-bottom-line, #nth-menu-switch:target ~ #nav-wrap .nth-menuicon-bottom-line {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px)
}

#nav-wrap .nth-menuanchor {
    left: 0;
    color: $color-ffffff;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 10
}

#nav-wrap .nth-menuanchor:focus {
    outline-offset: -8px;
    width: 48px;
    height: 48px
}

#nav-wrap .nth-menuanchor-close {
    display: none
}

#nav-wrap .nth-menuanchor-label {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuanchor-open, #nth-menu-switch:target ~ #nav-wrap .nth-menuanchor-open {
    display: none
}

#nth-menu-switch:checked ~ #nav-wrap .nth-menuanchor-close, #nth-menu-switch:target ~ #nav-wrap .nth-menuanchor-close {
    display: block
}

#nav-wrap input, #nav-wrap button {
    border: none;
    background-color: $color-transp
}

html.nth-segmentbar-visible {
    margin-top: 40px !important
}

@media only screen and (max-width: 840px) {
    html.nth-segmentbar-visible {
        margin-top: 44px !important
    }
}

html.nth-segmentbar-visible body {
    border-top: 1px solid $color-transp;
    margin-top: -1px;
    position: relative
}

#nth-segmentbar {
    font-size: $font-11px;
    line-height: 1;
    font-weight: $font-400;
    letter-spacing: $ls-0_005em;
    background: $color-444444;
    display: none;
    position: absolute;
    top: -40px;
    left: 0;
    min-width: 1024px;
    width: 100%;
    height: 40px;
    z-index: 9998
}

@media only screen and (max-width: 1023px) {
    #nth-segmentbar {
        min-width: 320px
    }
}

@media only screen and (max-width: 840px) {
    #nth-segmentbar {
        top: -44px;
        height: 44px
    }
}

html.nth-segmentbar-visible #nth-segmentbar {
    display: block
}

#nth-segmentbar .nth-segmentbar-content {
    list-style: none;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    white-space: nowrap
}

@media only screen and (max-width: 840px) {
    #nth-segmentbar .nth-segmentbar-content {
        padding: 0 16px
    }
}

#nth-segmentbar .nth-segmentbar-item {
    border-left: 1px solid $color-666666;
    float: left;
    height: 11px;
    margin-top: 15px
}

@media only screen and (max-width: 840px) {
    #nth-segmentbar .nth-segmentbar-item {
        margin-top: 16.5px
    }
}

#nth-segmentbar .nth-segmentbar-item:first-child {
    border-left: none;
    margin-left: -11px;
    max-width: 60%
}

#nth-segmentbar .nth-segmentbar-link {
    color: $color-ffffff;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin-top: -15px;
    outline-offset: -11px;
    overflow: hidden;
    padding: 0 11px;
    text-decoration: $text-decoration-none;
    text-overflow: $text-overflow-ellipsis
}

@media only screen and (max-width: 840px) {
    #nth-segmentbar .nth-segmentbar-link {
        line-height: 44px;
        margin-top: -16.5px
    }
}

#nth-segmentbar .nth-segmentbar-link:hover {
    color: $color-6bf;
    text-decoration: $text-decoration-none
}

html.nth-noscroll {
    margin-top: 0 !important
}

html.nth-noscroll, html.nth-noscroll body {
    overflow: hidden !important;
    height: 100% !important
}

html.nth-noscroll-long {
    overflow-y: scroll !important
}
